<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="public" value="https://api.nuget.org/v3/index.json" />
        <add key="ryokutek" value="https://packages.gusmelford.com/v3/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <ryokutek>
            <add key="Username" value="USER" />
            <add key="ClearTextPassword" value="PW" />
        </ryokutek>
    </packageSourceCredentials>
</configuration>